extends layout

block content
  include blocks/header

  ul
    li
      a(href='/admin/users/') Пользователи
    li
      a(href='/admin/rooms') Комнаты
    li
      a(href='/admin/gifts') Подарки
    li
      a(href='/admin/stats') Статистика
